LearnILRuntime/.vs/
LearnILRuntime/Library/
LearnILRuntime/Temp/
LearnILRuntime/obj/
LearnILRuntime/Assets/Samples/ILRuntime/1.6.7/Demo/HotFix_Project~/.vs/
LearnILRuntime/Assets/Samples/ILRuntime/1.6.7/Demo/HotFix_Project~/obj/
